<?xml version="1.0"?>
<launch>
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
    <param name="port" value="/dev/ttyUSB0"/>
    <param name="baud" value="115200"/>
  </node>
  <arg name="model" default="$(find drone_mbed)/urdf/quat_drone.urdf" />
  <arg name="rvizconfig" default="$(find drone_mbed)/rviz/quat_drone.rviz" />
  <arg name="joy" default="false" />
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

  <group if="$(arg joy)">
    <node name="joy_node" pkg="joy" type="joy_node"/>
    <node name="joy_state_publisher" pkg="drone_mbed" type="joy_state_publisher" />
  </group>

  <node name="quat_publisher_to_tf" pkg="drone_mbed" type="quat_publisher_to_tf" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>